<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="border-t-2 border-[#8B7355] bg-[#2C1810] text-[#F5F1ED] mt-20">
        <div class="container mx-auto px-6 py-8">
            <p class="text-sm opacity-60 mb-3">Content aggregated from public websites following responsible web scraping practices. Sources: QuotesToScrape, The Art Newspaper, Unsplash Blog, Datamuse API.</p>
            <p class="text-xs opacity-40">CISC3016 - Multimedia Computing   University of Macau     Tatiana Muniz Rodriguez     Diogo Barros</p>
        </div>
    </footer>
</body>
</html>